body{
    margin: 0px;
}
*{
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(71, 69, 69);
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
html{
    font-size: 130%;
}
.app{
   
    margin-top: calc(50vh /2 );
    margin-left: 20%;
    margin-left:10%;
    font-size: 2rem;
    padding: 0px;
    height: 50vh;
    width: 70%;
    background-color: whitesmoke;
    display: flex;
    border-radius:2rem;
    margin-right: 2rem;
}
.app>*{
    margin-left: 2%;
}
.counter{
    height:20%;
    background-color: black;
    margin-top: 2rem;
    color:white;
    width:10%;
    font-size: 130%;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 8%;
    border-radius: 50%;
    outline: none;
    border: none;

}
.reset{
    height:4rem;
    background-color: black;
    margin-top: 2rem;
    color:white;
    width:20%;
    font-size:1.5rem;
    font-weight: bolder;
    text-align: center;
    
    outline: none;
    border: none;
}
h3{
    height:20%;
    background-color: black;
    margin-top: 4rem;
    color:white;
    width:10%;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 2%;
    outline: none;
padding-bottom: 8%;
    border: none;
}